<!DOCTYPE html>
<html ng-app="NapierAssistant" ng-controller="LoginController as lc">

<head>
    <meta charset="UTF-8">
    <title>Napier Assistant</title>
    <link rel="manifest" href="manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
   <link rel="icon" sizes="350x350" href="assets/images/website_logo_light_rounded.png"> 
    <!-- <meta name="theme-color" content="#00aa9d"> -->
    <!--    <meta name="theme-color" content="#4198e4">-->
    <meta name="theme-color" content="{{lc.themeColor}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Aclonica|Black+Han+Sans|Chau+Philomene+One|Denk+One|Jua|Mouse+Memoirs" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- 
        font-family: 'Varela Round', sans-serif;
        font-family: 'Fira Sans', sans-serif;
        font-family: 'Jua', sans-serif;
font-family: 'Aclonica', sans-serif;
font-family: 'Black Han Sans', sans-serif;
font-family: 'Mouse Memoirs', sans-serif;
font-family: 'Denk One', sans-serif;
font-family: 'Chau Philomene One', sans-serif;
     -->

    <!-- ***************** Dev Styles Goes here ************************************************* -->

    <!--    <link href="assets/css/style_animesh.css" rel="stylesheet">-->
    <link href="assets/css/style_main.css" rel="stylesheet">
    <link href="assets/css/animation.css" rel="stylesheet">
    <link ng-href="{{lc.themeCss}}" rel="stylesheet">
    <!--    <link href="assets/css/color.css" rel="stylesheet">-->


    <!-- ***************** Dev Styles End ************************************************* -->
</head>

<body ng-init="cross=false;show=false;">

    <div class="body">
        <div class="animation-frame">
            <div class="sub">
                <div class="inside-sub">

                </div>
                <div class="inside-sub-2"></div>
                <div class="smile"></div>
            </div>
        </div>
        <div class="frame">
            <div class="row header">
                <div class="col-md-1 col-xs-1 menubar" ng-class="{'change':cross}" ng-click="cross=!cross; show = !show; listening = false;">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
                <div class="col-md-11 col-xs-11 text-center header-head">

                    <h4><img ng-src="{{lc.botIconPath}}" alt="image" height="40" width="40"> Napier Assistant</h4>
                </div>

            </div>

            <div class="message-area" scroll-bottom="lc.messageList">
                <ul class="message-list">
                    <li ng-repeat="msg in lc.messageList">
                        <div class="row">
                            <button class="botIcon" ng-if="!msg.person"><img ng-src="{{lc.botIconPath}}" alt="image" height="20" width="20"></button>
                            <button class="userIcon" style="float:right" ng-if="msg.person"><i class="fas fa-user"></i></button>
                            <p class="message" ng-class="{'botMessage' : !msg.person, 'personMessage':msg.person}" ng-bind="msg.text"></p>
                        </div>
                    </li>

                    <li ng-if="lc.botThinking">
                        <div class="row">
                            <button class="botIcon" ng-if="!msg.person"><img ng-src="{{lc.botIconPath}}" alt="image" height="20" width="20"></button>
                            <div class="message botMessage botThinking">
                                <div class="dot1"></div>
                                <div class="dot2"></div>
                                <div class="dot3"></div>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
            <div class="input-area">

                <input type="text" class="inputBox" ng-model="lc.inputMsg" ng-enter="lc.send()" placeholder="Say something..">
                <button class="btn" ng-click="lc.send()"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                <button class="btn" ng-click="listening = !listening"><i class="fas" ng-class="{'fa-microphone-alt' : listening,'listen-animate':listening, 'fa-microphone' : !listening}"></i></button>
            </div>

            <div class="sideMenu" ng-class="{'visible' : show, 'opaque': show}">
                <ul>
                    <li class="sideMenuItem"><button class="themeBtn" ng-click="lc.changeTheme()">Switch Theme : {{lc.currentTheme}}</button></li>
                </ul>
            </div>


        </div>
    </div>



    <!-- ******************* Dependencies goes here *************************************************** -->
    <!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-touch.js"></script>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--    <script src="autoCss/awesomplete.js"></script>-->

    <!-- ******************* Dev Scripts Goes here *************************************************** -->
    <script src="app/js/app_new.js"></script>


    <!-- ******************* Dev Scripts End *************************************************** -->
</body>

</html>
