body{
    overflow: hidden;
   
}
*{
     outline: none;
}
body{
    background: #272727;
/*
    background: #2b3f53;
    background: #00aa9d;
*/
}
.body {
    z-index: 50;
}
.frame {
    margin: auto;
    z-index: 100;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    width: 500px;
    height: calc(100% - 50px - 50px);
/*    background: white;*/
    background: #2b3f53;
}
.row{
    
    margin-left: 0px !important;
    margin-right: -17px !important;
}
.header{
    text-align: center; 
/*
    color: #409c4c;
    background: white;
*/
    color: #00aa9d;
    background: #2b3f53;
    margin:0px !important;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2), 0px 3px 8px 0px rgba(0, 0, 0, 0.25);
}

.header h4{
    font-size: 26px;
    
/*    color: #409c4c;*/
    color: #00aa9d;
    line-height: 60px;
    margin:0px !important;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    font-family: 'Jua', sans-serif;
    /*
    font-family: 'Varela Round', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Aclonica', sans-serif;
 
    font-family: 'Black Han Sans', sans-serif;   
    font-family: 'Mouse Memoirs', sans-serif;
    font-family: 'Denk One', sans-serif;
    font-family: 'Chau Philomene One', sans-serif;
    */
}
.header-head{
    width: calc(100% - 55px);
}

.menubar {

    padding:15px !important;
    cursor: pointer;
    width:55px;
}

.bar1, .bar2, .bar3 {
/*    width: 100%;*/
    width: 25px;
    height: 2px;
/*    background: #409c4c;*/
    background: #00aa9d;
    margin: 6px 0;
    transition: 0.4s;
}

.menubar:hover .bar1, .menubar:hover .bar2,.menubar:hover .bar3{
    box-shadow: 0px 4px 10px 0px rgba(0, 170, 157, 0.37), 0px 2px 9px 0px rgba(0, 170, 157, 0.63);
/*    border: none;*/
    
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-4px, 6px);
    transform: rotate(-45deg) translate(-4px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -8px);
    transform: rotate(45deg) translate(-5px, -8px);
}


/******* INPUT AREA ****************/
.fa {
        margin-left: -3px !important;
}
.input-area{
    position: absolute;
    bottom: 20px;
    width : 100%;
    z-index:10;
}

.inputBox {
    outline: none;
    margin: 0 15px 0 15px ;
    width: calc(100% - 170px);
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    font-size: 18px;
    
    font-family: 'Varela Round', sans-serif;
/*    border: 0.5px solid #c7c5c5;*/
    border: 0.5px solid #00aa9d;
    background: #2b3f53;
    color: #c7c7c7;
    
}
.inputBox:hover, .inputBox:focus{
/*    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2), 0px 3px 8px 0px rgba(0, 0, 0, 0.25);*/
    box-shadow: 0px 4px 10px 0px rgba(0, 170, 157, 0.37), 0px 2px 9px 0px rgba(0, 170, 157, 0.63);
/*    border: none;*/
    transition: 0.2s ease-in;
}
.btn{
    outline: none !important;
    margin: 0 15px 0 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
/*    background: white;*/
    background: #2b3f53;
    color: #00aa9d;
    border: 0.5px solid #00aa9d;
}

.btn:hover {
/*
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2), 0px 3px 8px 0px rgba(0, 0, 0, 0.25);
    border:none;
*/
    box-shadow: 0px 4px 10px 0px rgba(0, 170, 157, 0.37), 0px 2px 9px 0px rgba(0, 170, 157, 0.63);
/*    color:white;*/
    color: #00aa9d;
/*    background: #409c4c;*/
/*    background: #00aa9d;*/
    transition: 0.3s ease;
}
.btn:focus{
    color: #00aa9d;
}
.listen-animate{
   animation: opaque 2s infinite linear;
}
@keyframes opaque {
     0% {
        opacity : 0;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}
/********************* Side Menu *************************************/
.sideMenu {
    z-index: 10;
    height: calc(100% - 60px);
    position: absolute;
    background: #2b3f53;
/*    background: white;*/
    width: 75%;
    left: -500px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 5px 11px 11px 0px rgba(0, 0, 0, 0.2);
    transition: 0.5s left ease-in, 0.1s opacity cubic-bezier(1, 0, 1, 0), 0.5s visibility cubic-bezier(1, 0, 1, 0);
} 

.visible {
    opacity: 1;
    visibility: visible;
    transition: 0.2s left ease-in, 0.3s opacity cubic-bezier(1, 0, 1, 0), 0.1s visibility cubic-bezier(1, 0, 1, 0);
    
    left: 0px;
}
ul{
    list-style-type: none;
    margin: 0px !important;
    padding: 0px !important;
} 
.sideMenu ul>li {
    font-family: 'Varela Round', sans-serif;
    padding: 10px;
    font-size: 16px;
    background: #2b3f53;
/*    background: white;*/
    color: #00aa9d;
/*    color: #409c4c;*/
    cursor: pointer;
}
.sideMenu ul>li:hover {
    background: #00aa9d;
    color: white;
}

/********************************** MESSAGES *****************************************/
.message-area{
     position: absolute;
    width: 100%;
        height: calc(100% - 150px);
    overflow: hidden;

}
.message-list{
/*
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
*/
    
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px !important; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; /* So the width will be 100% + 17px */
}


.botIcon{
    outline: none !important;
    margin: 10px 5px 10px 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding-left: 3px;
    font-size: 14px;
/*    background: white;*/
    vertical-align:top;
    background: #2b3f53;
    color: #00aa9d;
    border: 1px solid #00aa9d;
}
.userIcon{
    outline: none !important;
    margin: 10px 10px 10px 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 14px;
/*    background: white;*/
    vertical-align:bottom;
    background: #2b3f53;
    color: #00aa9d;
    border: 1px solid #00aa9d;
}
.botIcon img{
    margin-bottom: 0;
}
.message{
    display: inline-block;
    padding: 10px;
    margin: 10px 5px 10px 5px;
    width: 60%;
        font-family: 'Varela Round', sans-serif;
}
.botMessage {
    border: 1px solid #00aa9d;
    color: #00aa9d;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.personMessage{
    border: 1px solid #00aa9d;
    float: right;
    background: #00aa9d;
    color: #2b3f53;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 0px;
}
@media screen and (max-width: 1024px) {
  .frame {
    width:688px;
    height: calc(100% - 50px - 50px);
  }
}


@media screen and (max-width: 768px) {
  .frame {
    width:100%;
    height:100%;
  }
    
    .inputBox{
        
    }
}